/* Write your CSS here */
@media (max-width: 767px) {
  .destination-item {
    width: 40%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    margin: 5px;
    flex-shrink: 0;
  }
  .destination-name {
    color: #000000;
    font-size: 18px;
    text-align: center;
  }
  .image {
    width: 100%;
    height: 200px;
  }
}
/* Write your CSS here */
@media (min-width: 768px) {
  .destination-item {
    width: 20%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    flex-shrink: 0;
    margin: 5px;
  }
  .destination-name {
    color: #000000;
    font-size: 18px;
    text-align: center;
  }
  .image {
    width: 100%;
    height: 250px;
  }
}
